{% extends 'quote/base.html' %} 
{% load static %}

{% block content %} 

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3> 
</div>

<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis cum veniam sequi omnis facere fuga at fugit incidunt ullam? Deleniti, quidem beatae temporibus animi expedita, ad molestiae quis, nisi exercitationem aspernatur vero eos eveniet est. Ab molestiae dolores neque, dolore cumque, 
        consequuntur reprehenderit vel blanditiis unde temporibus, quasi explicabo earum!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat possimus, corrupti cum minima repudiandae veritatis debitis nobis consequuntur molestiae consequatur cupiditate quisquam natus ratione quibusdam ipsum commodi aperiam laborum perferendis enim sunt. Et eveniet natus nisi eaque vero eligendi, 
            tempore excepturi sequi ut delectus voluptatibus consequuntur a doloribus esse mollitia!</p>
</div>


{% endblock content %}